:root {
  --main-color: hsl(0, 100%, 3%);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
}
header {
  background-color: transparent !important;
}

.main-cont {
  display: grid;
  grid-template-columns: 220px auto;
}

.navbar {
  background-color: var(--main-color);
  color: white;
}

.main {
  margin-top: 30px;
  border-top-left-radius: 15px;
  border: 1px solid var(--main-color);
  background-color: rgb(233, 224, 224);
}
.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 5%;
  left: 0;
  z-index: 99;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.list-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-task {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  right: 0;
  bottom: 4%;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  padding: 10px;
}
.add-input {
  width: 100%;
  border: 1px solid transparent !important;
  padding: 3px;
}
.bg-transparent {
  background-color: transparent;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  overflow-y: hidden;
}
.mt-8 {
  margin-top: 60px;
}
.css-dazktm {
  background-color: rgb(255, 255, 255, 0.7) !important;
  color: #000 !important;
  padding: 1px 10px !important;
}
.css-hyum1k-MuiToolbar-root,
.css-3xgdwk-MuiPaper-root-MuiAppBar-root,
.css-ciy9n4-MuiPaper-root-MuiAppBar-root,
.css-s2ribs-MuiPaper-root-MuiAppBar-root {
  background-color: transparent !important;
  font-weight: bold;
  z-index: 99;
}

.item-end {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4%;
}

.flex-between {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 15px;
  padding: 14px 5px;
  border: 1px solid #eee;
  border-radius: 5px;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #000;
}
.countItem {
  margin-left: 80px;
  font-size: 6 !important;
  font-weight: normal;
  background-color: #fff;
  padding: 3px;
  border: 1px solid transparent;
  border-radius: 50px;
  width: 25px;
  height: 25px;
}
.d-flex-btw {
  display: flex;
  justify-content: space-between;
}

.css-1cs64f3 {
  justify-content: space-between !important;
  align-items: center;
  margin: 0px 5px;
}

.theme-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.theme-item {
  width: 60px;
  height: 60px;
  background-color: rgb(208, 237, 237);
  cursor: pointer;
}

.app-main {
  background-image: url("/bg-8.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  opacity: 0.9;
}

.active .nav-item {
  border-left: 4px solid #1976d2;
  color: #1976d2;
  font-weight: 600;
  background-color: azure;
}

.empty-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.empty-list h2 {
  color: #fff;
}

.empty-list img {
  background: transparent;
  width: 450px;
  box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.5);
}

.pagination {
  background-color: rgb(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 30% 0 30%;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
}
.add-container {
  background-color: rgb(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 10% 0 10%;
  border-radius: 8px;
  display: none;
}

.css-xwhxxa-JoyInput-root {
  border: none !important;
}
.css-lqk1w2 {
  height: 75vh !important;
}

@media (max-width: 700px) {
  .empty-list img {
    width: 250px;
  }
  .pagination {
    margin: 20px 10px;
  }
  .add-container {
    margin: 10px 10px;
  }
}
